
  * {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
  }

  body {
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: white;
   color: black;
}

  header {
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}



p{
   margin-bottom: 19px;
   margin-top: 19px;
}

main {
   padding: 30px;
}

#introducao {
    display: flex;
   flex-direction: row;
   gap: 30px;
   padding: 30px;
   background-color:rgb(225, 144, 171) ;
   align-items: center;
    justify-content: space-between;
   margin-bottom: 30px;

}

#introducao img {
   width: 350px;
   height: 350px;
   object-fit: cover;
}

#cards {
   display: flex;
   gap: 20px;
   justify-content: center;
   flex-wrap: wrap;
}


.card {
   background-color: white;
   padding: 20px;
   width:30%;
   border-radius: 20px;
   text-align: center;
   border: 1px solid #eee;
}

.card h2 {
   margin: 10px 0;
   font-size: 20px;
}

.card img {
   width: 100%;
   border-radius: 20px;
   object-fit: cover;
   height: 700px;
   object-position: top;
   background-color: rgb (230, 230, 230);
}


footer {
   padding: 20px;
   background-color: pink;
   color: white;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 3px 0 0 0;
}

.menu {
    display:flex;
    gap: 25px;
    font-size; 11px;
    font-weight: bold;
}


p{
    margin-bottom: 19px;
    margin-top: 19px;
}

main {
    padding: 30px;
}

#introducao {
     display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    background-color:rgb(225, 144, 171) ;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}

#introducao img {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}

.card {
    background-color: pink;
    padding: 20px;
    width:30%;
    border-radius: 20px;
    text-align: center;
}

.card p {
    margin-top: 10px;
      font-size: 14px;
   line-height: 1.4;
}

footer {
    padding: 20px;
    color: gray;
    text-align: center;
}
